#detail-profile {
  height: 1979px;
}

.card .border-0 {
  max-width: 210px;
}

#box {
  width: 5px;
  height: auto;
  background-color: #efc81a;
}
#line {
  width: auto;
  height: 5px;
  background-color: #efc81a;
}

#comment {
    height: 177px
}

#recipe {
  height: 1038px;
}